<html>
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div ng-controller="loginctrl">
	<div class="container">
  <h2>Login Page</h2>
  <div class="well">
<form action="/" id="myLogin">



    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" ng-model="username" required><br/></br>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" ng-model="password" required><br/></br>

      <button type="submit" ng-click="submit()">Login</button>
     
    </div>

  </form>
</div> 
</div>

<!-- UserName:	<input type="text" name="username" id="username" ng-model="username"/> <br>
Password:	<input type="password" name="password" id="password" ng-model="password"/> <br>
<button type="button" ng-click="submit()">Login</button>
 -->
</form>	
</div>
</html>